.footer {
    padding: 1.2rem 0;
    border-top: 1px solid #eaeaea;
}

.footer a {
    display: flex;

    justify-content: center;
    align-items: center;
}

.logo {
    vertical-align: middle;
}

.footerText {
    margin-right: 0.3rem;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
