.root {
    /* This bit sets up the horizontal layout */
    display:flex;
    flex-direction:row;

    /* This bit draws the box around it */
    border:2px solid grey;

    /* I've used padding so you can see the edges of the elements. */
    padding:2px;

    background: white;
    border-radius: 10px;
    /*border-radius: 100%;*/
}

.searchBar {
    /* Tell the input to use all the available space */
    flex-grow:2;
    /* And hide the input's outline, so the form looks like the outline */
    border:none;

    border-radius: 10px;
    padding: 4px 10px;
}

.searchBar:focus {
    /* removing the input focus blue box. Put this on the form if you like. */
    outline: none;
}

.searchButton {
    /* Just a little styling to make it pretty */
    border:none;
    background: none;
    color:white;
    /*padding-left: 10px;*/
    padding-right: 10px;
}