@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    min-height: 100vh;
}

html,
body {
    padding: 0;
    margin: 0;
}

html.dark, body.dark {
    @apply accent-red-900;
    @apply text-white;
    @apply bg-neutral-800;
}

/* https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/The_box_model#the_alternative_css_box_model */
* {
    box-sizing: border-box;
}

/**
 todo: TEMPORARILY NEEDED FOR THEME BUTTON. WILL REVERSE ENGINEER/SIMPLIFY
 */
:root {
    --ifm-color-primary: #3578e5;
}

.react-toggle {
    cursor: pointer;
    position: relative;
    touch-action: pan-x;
    user-select: none
}

.react-toggle-screenreader-only {
    clip: rect(0 0 0 0);
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px
}

.react-toggle--disabled {
    cursor: not-allowed
}

.react-toggle-track {
    background-color: #4d4d4d;
    border-radius: 30px;
    height: 24px;
    transition: .2s;
    width: 50px
}

.react-toggle-track-check,.react-toggle-track-x {
    bottom: 0;
    height: 10px;
    margin: auto 0;
    top: 0;
    position: absolute
}

.react-toggle-track-check {
    left: 8px;
    opacity: 0;
    transition: opacity .25s;
    width: 14px
}

.react-toggle--checked .react-toggle-track-check,.react-toggle-track-x,[data-theme=dark] .react-toggle .react-toggle-track-check {
    opacity: 1;
    transition: opacity .25s
}

.react-toggle-track-x {
    right: 10px;
    width: 10px
}

.react-toggle--checked .react-toggle-track-x,[data-theme=dark] .react-toggle .react-toggle-track-x {
    opacity: 0
}

.react-toggle-thumb {
    background-color: #fafafa;
    border: 1px solid #4d4d4d;
    border-radius: 50%;
    height: 22px;
    left: 1px;
    position: absolute;
    top: 1px;
    transition: .25s;
    width: 22px
}

.react-toggle--checked .react-toggle-thumb,[data-theme=dark] .react-toggle .react-toggle-thumb {
    left: 27px
}

.react-toggle--focus .react-toggle-thumb,.react-toggle:hover .react-toggle-thumb {
    box-shadow: 0 0 2px 3px var(--ifm-color-primary)
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
    box-shadow: 0 0 5px 5px var(--ifm-color-primary)
}

.toggle_71bT {
    align-items: center;
    display: flex;
    height: 10px;
    justify-content: center;
    width: 10px
}

.toggle_71bT:before {
    position: absolute
}