name: CI Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      # Setup
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node
      - uses: actions/cache@v4 # (https://nextjs.org/docs/app/guides/ci-build-caching#github-actions)
        with:
          path: |
            ${{ github.workspace }}/.next/cache
          # Generate a new cache whenever packages or source files change.
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/pnpm-lock.yaml') }}-${{ hashFiles('**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx') }}
          # If source files changed but packages didn't, rebuild from a prior cache.
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/pnpm-lock.yaml') }}-
      # Build
      - name: Build
        run: pnpm run build
      - name: Lint
        run: pnpm run lint:check
      - name: Format
        run: pnpm run format:check
      # Test
      - name: Unit + Integration Tests
        run: pnpm run test

  ui-tests:
    runs-on: windows-latest
    timeout-minutes: 10
    needs: [build]
    steps:
      # Setup
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node
      # Test
      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps
      - name: Run Playwright tests
        run: pnpm run playwright
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
      # Report
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
